/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Satisfy&display=swap');

/* Generic styling */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

body {
    display: flex;
    flex-direction: column;
    background: url(../images/background_lt-bw.webp) no-repeat center center/cover;
    min-height: 100vh;
    max-height: 200vh;
    color: #fff;
    background-color: darkgrey;
    font-family: "Monserrat", sans-serif;
}

header {
    display: flex;
    flex-direction: column;
    min-height: 12vh;
    align-content: center;
    text-align: center;
    background-image: linear-gradient(145deg, black, darkgrey);
    font-size: 150%;
}

#brand {
    font-family: "Dancing script", cursive;
}

#slogan {
    font-family: "Satisfy", cursive;
}
main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

#welcome, #home, #clocks {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-grow: 1;
    justify-content: center;
    font-size: 120%;
    text-align: center;
    margin: 5% auto auto;
    align-items: center;
}

#spiel, #disOpts {
    flex: 0 0 15%;
}

#timer {
    font-size: 1000%;
}

#contButton, #timeContainer, #timeOptions {
    flex: 1;
}

#timeContainer, #timeOptions {
    flex-direction: row;
    margin: auto;
}

footer {
    margin-top: auto;
    justify-content: center;
}

#footer {
    width: 90%;
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    margin: auto 5% auto;
    justify-content: center;
}

#logo {
    width: 10%;
    margin: auto;
}

#logoImg {
    max-height: 150px;
    min-height: 80px;
}

#copyright {
    margin: auto;
    text-align: center;
}

#info, #spiel, #disOpts, #timer, #ext {
    width: fit-content;
    background-color: rgb(0, 0, 0, .6);
}

/* Remove sections from view until required */
#clocks {
    display: none;
}

#home {
    display: none;
} 

/* Button formatting */
button {
    color: #fff;
    background-color: #000;
    border: 2px solid #fff;
    border-radius: 12px;
    padding: 10px;
    width: fit-content;
    font-size: 100%;
    height: fit-content;
}

#contButton {
    display: flex;
    justify-content: center;
    align-items: center;
}

#fifteen, #thirty, #fortyFive, #sixty, #startPause, #reset, #yellow, #red {
    width: 35%;
    min-height: 80px;
    margin: 5%;
    flex-wrap: wrap;
    font-size: 100%;
}

#fifteen > span, #thirty > span, #fortyFive > span, #sixty > span, #yellow > span, #red > span{
    font-size: 80%;
}

#yellow, #red {
    color: #000;
}

#yellow {
    background-color: yellow;
}

#red {
    background-color: red;
}

#resetFrame {
    width: 100%;
}

#modeBtn, #begBtn {
    font-size: 80%;
    width: 15ch;
}

/* Media query for larger than tablet */
@media screen and (min-width: 768px) {
    
    header {
        font-size: 300%;
    }

    #welcome, #home, #clocks {
        font-size: 150%;
    }

    #timer {
        font-size: 1500%;
    }
}